####################################
# Ignore Project file or directory #
####################################

## Original Reveal.js repositories
reveal/

## Fontawesome
assets/icons/fontawesome...


######################
# Random ignore file #
######################

.DS_Store
